/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/vendor
.env
.env.backup
.env.example
.env.local
.env.production
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
*.tmp
*.temp
.DS_Store
Thumbs.db
*.sqlite
*.sqlite3
/public/uploads/temp
/public/uploads/cache
/public/error_log
